@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

.terminal {
    font-family: "Source Code Pro", monospace;
}

.intro {
    font-family: "Alfa Slab One", serif;;
}